body{
  font-family: Helvetica, Arial, sans-serif;
  color:#4D4D4D;
  font-size:18px;
  padding:0;
  margin:20px;
  line-height:100%;
}

p, ul, ol{
  margin:0 0 15px;
  font-size:85%;
}

#game{
  float:left;
}

#details{
  float:left;
  margin-left:40px;
  width:600px;
}

#details h1{
  margin:20px 0 35px;
}

#details .origin{
  font-size:85%;
}

#details p.wiki{
  font-size:80%;
  font-style:italic;
}

#stats{
  margin-bottom:25px;
}

#stats p{
  margin-bottom:10px;
}

#stats strong{
  font-size:110%;
}

.grid{
  border-left:1px solid #f0f0f0;
  border-bottom:1px solid #f0f0f0;
}
.cell{
  float:left;
  border-top:1px solid #f0f0f0;
  border-right:1px solid #f0f0f0;
}

.controls{
  margin:20px 0;
  overflow:hidden;
  font-size:80%;
}

.controls a{
  float:left;
  margin-right:10px;
  padding-right:10px;
  border-right:1px solid #ccc;
}

.controls a:last-child{
  border-right:none;
}